.category{
  &-item{
    float: left;
    width: 25%;
    padding-top: px2rem(14px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-img{
    width: px2rem(47px);
    padding-bottom: px2rem(10px);
  }
  &-name{
    font-size: px2rem(13px);
  }
}